# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the staging branch
  push:
    branches: [ staging ]
  pull_request:
    branches: [ staging ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      

      - name: Login Jfrog
        uses: docker/login-action@v1
        with:
          registry: zowe-docker-snapshot.jfrog.io
          username: ${{ secrets.ARTIFACTORY_USERNAME }}
          password: ${{ secrets.ARTIFACTORY_PASSWORD }}
          

      
      - name: build and push image
        run: |
          cd container
          chmod +x *.sh
          ./pull-zowe-install-artifacts.sh
          ./download-zlux.sh
          cd files
          IMAGE_VERSION=$(grep -Po '"version": *\K"[^"]*"'  manifest.json | head -n1)
          cd ..
          ./build.sh
          docker tag zowe-docker-snapshot.jfrog.io/ompzowe/app-server:testing zowe-docker-snapshot.jfrog.io/ompzowe/app-server:$IMAGE_VERSION
          docker push zowe-docker-snapshot.jfrog.io/ompzowe/app-server:$IMAGE_VERSION
   
