
name: app-server build


on:
  push:
    branches: [ master, staging ]
  pull_request:
    branches: [ staging ]
  workflow_dispatch:



env:
  IMAGE_BASE_DIR: container

jobs:
  build-ubuntu-amd64:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      
      - uses: zowe-actions/shared-actions/prepare-workflow@main
      
      - uses: zowe-actions/shared-actions/docker-prepare@main
        env:
          ZLUX_DOWNLOAD_API_TOKEN: ${{ secrets.ZLUX_API_TOKEN }}
        with:
          registry-user: ${{ secrets.ARTIFACTORY_X_USERNAME }}
          registry-password: ${{ secrets.ARTIFACTORY_X_PASSWORD }}
          release: ${{ github.ref == 'refs/heads/master' }}
          base-directory: ${{ env.IMAGE_BASE_DIR }}
          image-name: app-server
          linux-distro: ubuntu
          cpu-arch: amd64
      
      - uses: zowe-actions/shared-actions/docker-build-local@main
        with:
          build-arg-list: ZOWE_BASE_IMAGE=latest-ubuntu
        timeout-minutes: 5


  build-ubi-amd64:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      
      - uses: zowe-actions/shared-actions/prepare-workflow@main
      
      - uses: zowe-actions/shared-actions/docker-prepare@main
        env:
          ZLUX_DOWNLOAD_API_TOKEN: ${{ secrets.ZLUX_API_TOKEN }}
        with:
          registry-user: ${{ secrets.ARTIFACTORY_X_USERNAME }}
          registry-password: ${{ secrets.ARTIFACTORY_X_PASSWORD }}
          release: ${{ github.ref == 'refs/heads/master' }}
          base-directory: ${{ env.IMAGE_BASE_DIR }}
          image-name: app-server
          linux-distro: ubi
          cpu-arch: amd64
      
      - uses: zowe-actions/shared-actions/docker-build-local@main
        with:
          build-arg-list: ZOWE_BASE_IMAGE=latest-ubi
        timeout-minutes: 5

  build-ubuntu-s390x:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: zowe-actions/shared-actions/prepare-workflow@main

      - uses: zowe-actions/shared-actions/docker-prepare@main
        env:
          ZLUX_DOWNLOAD_API_TOKEN: ${{ secrets.ZLUX_API_TOKEN }}
        with:
          registry-user: ${{ secrets.ARTIFACTORY_X_USERNAME }}
          registry-password: ${{ secrets.ARTIFACTORY_X_PASSWORD }}
          release: ${{ github.ref == 'refs/heads/master' }}
          base-directory: ${{ env.IMAGE_BASE_DIR }}
          image-name: app-server
          linux-distro: ubuntu
          cpu-arch: s390x

      - uses: zowe-actions/shared-actions/docker-build-zlinux@main
        with:
          zlinux-host: ${{ secrets.ZLINUX_HOST }}
          zlinux-ssh-user: ${{ secrets.ZLINUX_SSH_USER }}
          zlinux-ssh-key: ${{ secrets.ZLINUX_SSH_KEY }}
          zlinux-ssh-passphrase: ${{ secrets.ZLINUX_SSH_PASSPHRASE }}
          build-arg-list: ZOWE_BASE_IMAGE=latest-ubuntu
        timeout-minutes: 10


  build-ubi-s390x:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: zowe-actions/shared-actions/prepare-workflow@main

      - uses: zowe-actions/shared-actions/docker-prepare@main
        env:
          ZLUX_DOWNLOAD_API_TOKEN: ${{ secrets.ZLUX_API_TOKEN }}
        with:
          registry-user: ${{ secrets.ARTIFACTORY_X_USERNAME }}
          registry-password: ${{ secrets.ARTIFACTORY_X_PASSWORD }}
          release: ${{ github.ref == 'refs/heads/master' }}
          base-directory: ${{ env.IMAGE_BASE_DIR }}
          image-name: app-server
          linux-distro: ubi
          cpu-arch: s390x

      - uses: zowe-actions/shared-actions/docker-build-zlinux@main
        with:
          zlinux-host: ${{ secrets.ZLINUX_HOST }}
          zlinux-ssh-user: ${{ secrets.ZLINUX_SSH_USER }}
          zlinux-ssh-key: ${{ secrets.ZLINUX_SSH_KEY }}
          zlinux-ssh-passphrase: ${{ secrets.ZLINUX_SSH_PASSPHRASE }}
          build-arg-list: ZOWE_BASE_IMAGE=latest-ubi
        timeout-minutes: 10


  define-ubuntu-manifest:
    needs:
      - build-ubuntu-amd64
      - build-ubuntu-s390x
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: zowe-actions/shared-actions/prepare-workflow@main

      - uses: zowe-actions/shared-actions/docker-prepare@main
        env:
          ZLUX_DOWNLOAD_API_TOKEN: ${{ secrets.ZLUX_API_TOKEN }}
        with:
          registry-user: ${{ secrets.ARTIFACTORY_X_USERNAME }}
          registry-password: ${{ secrets.ARTIFACTORY_X_PASSWORD }}
          release: ${{ github.ref == 'refs/heads/master' }}
          base-directory: ${{ env.IMAGE_BASE_DIR }}
          image-name: app-server
          linux-distro: ubuntu

      - uses: zowe-actions/shared-actions/docker-manifest@main
        with:
          linux-distro: ubuntu
          primary-linux-distro: ubuntu
          cpu-arch-list: "amd64 s390x"
        timeout-minutes: 2

  define-ubi-manifest:
    needs:
      - build-ubi-amd64
      - build-ubi-s390x
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: zowe-actions/shared-actions/prepare-workflow@main

      - uses: zowe-actions/shared-actions/docker-prepare@main
        env:
          ZLUX_DOWNLOAD_API_TOKEN: ${{ secrets.ZLUX_API_TOKEN }}
        with:
          registry-user: ${{ secrets.ARTIFACTORY_X_USERNAME }}
          registry-password: ${{ secrets.ARTIFACTORY_X_PASSWORD }}
          release: ${{ github.ref == 'refs/heads/master' }}
          base-directory: ${{ env.IMAGE_BASE_DIR }}
          image-name: app-server
          linux-distro: ubi

      - uses: zowe-actions/shared-actions/docker-manifest@main
        with:
          linux-distro: ubi
          primary-linux-distro: ubuntu
          cpu-arch-list: "amd64 s390x"
        timeout-minutes: 2
    
